@keyframes icon-hover-animation{
    from{
        transform: none;
    }
    to{
        transform: scale(1.5);
        color: goldenrod;
    }
}


.find-icons{
    display: flex;
    justify-content: space-between;
}
.find-icons__icon{
    display: flex;
    align-items: center;
    flex-direction: column;   
    justify-content: center;
}
.find-icons__icon i{
    font-size: 35px;
}
.find-icons__icon span{
    padding-top: 20px;
}

.find-icons__icon:hover{
    animation: icon-hover-animation 0.5s ease-in-out forwards;
}

#find-icons__contacts-text{
    width: 50%;
    display: block;
    text-align: center;
}
.recommended__friends{
    height: 250px;
    margin-top: 35px;
    border-top: var(--border-line);
    border-bottom: var(--border-line);  
}
 
.recommended__friends h6{
    padding-top: 25px;
    color: var(--gray);
    font-size: 17px;
}
.recommended__friends span{
    margin: 90px 0px;
    text-align: center;
    display: block;
    font-size: 20px;
    color: var(--gray);
}
.open-chat__header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.open-chat__header h2{
    font-size: 17px;
    color: var(--gray);
}
.open-chat__header h4{
    font-size: 16px;
    color: rgba(87, 87, 87, 0.4);
}
.open-chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-chat__content{
    padding-top: 45px;
}
.open-chat__content h2{
    font-size: 20px;
    padding-bottom: 10px;
}
.open-chat__content h4{
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(87, 87, 87, 0.4);
    padding-bottom: 10px;
}
.open-chat__content__members {
    display: flex;
    align-items: center;
}
.open-chat__content__members img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding-right: 7px;
}
.open-chat__content__members__number{
    color: rgba(87, 87, 87, 0.4);
}
.open-chat__content__members .divider{
    padding: 0px 5px;
}
.open-chat__content__members__active{
    color: #ffb0e0;
}

.open-chat__content__image__section{
    position: relative;
}

.open-chat__content__image{
    height: 120px;
    width: 120px;
    border-radius: 5px;
    position: relative;
}
.open-chat__content__likes{
    height: 20px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size:15px;
}
@keyframes heartbeat-icon{
    0%{
        transform: scale(2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
       
    }
}
.open-chat__content .fa-heart{
    animation: heartbeat-icon 0.7s linear infinite;
    color: red;
}