.user-component,
.user-component__column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-component__column{
    margin-bottom:20px;
}
.user-component__avatar{
    height: 80px;
    border-radius: 30px;
}
.user-component__name{
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
    color: black;
}
.user-component__message{
    color: var(--gray);
    padding-top: 8px;
    margin-left:10px;
    transition: all 0.3s ease-in-out;

}
.user-component__avatar--lg{
    height: 90px;
    width: 90px;
}
.user-component__avatar--sm{
    height:60px;
    width:60px;
    border-radius: 20px;
}
.user-component__avatar--md{
    height: 70px;
    width: 70px;
}
.user-component__column i{
    position: relative;
    right: -7px;
}
.user-component__name--not-bold{
    font-weight: 400;
}
.user-component__column:last-child{
    color: rgba(0,0,0,0.5);
}

.user-component__time{
    display: block;
    color: var(--gray);
    font-size: 17px;
    padding-bottom: 10px;
}
.user-component__text i{
    color: tomato;
}
.user-component--column-friends{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.user-component__message:hover{
    font-size: 20px;
    font-weight: 600;
}